@import "../../../styles/colors";
@import "../../../styles/font";

.back {
    background-color: $backBlack;
    height: 176px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $textInActive;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .label {
        background-color: $backGray;
        border-bottom: 1px solid $textInActive;
        line-height: 50px;
    }

    .content {
        background-color: $backGray;
        border-top: 1px solid $textInActive;

        &>p {
            margin-top: 20px;
        }

        .block {
            margin-top: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 50px;
            align-items: center;

            &_btn {
                background-color: $backGray;
                color: $textActive;
                border: none;
                outline: none;
                font-size: $fzRegular;
                line-height: 50px;
            }
        }
    }
}