@import "../../../styles/colors";
@import "../../../styles/font";

.back {
    background-color: $backGray;
    height: 180px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $textInActive;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .label {
        line-height: 50px;
    }

    .message {
        font-size: $fzSmall;
    }

    .block {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px;
        align-items: center;


        &_btn {
            background-color: $backGray;
            color: $textActive;
            border: none;
            outline: none;
            font-size: $fzRegular;
            line-height: 48px;
        }
    }
}