@import "../../../styles/colors";
@import "../../../styles/font";
@import "../../../styles/mixins";

.back {
    @include modalBackground;
    height: 173px;
    width: 100%;

    .label {
        @include modalLabel;
    }

    .form {
        @include formBackground;

        &_input {
            @include formInputText;
            font-weight: $fwBold;
        }

        &_btn {
            @include btn;
            @include hover;
        }
    }

    @media (min-width: 1024px) {
        height: 174px;
        width: 500px;
        border: 1px solid $textInActive;
    }
}