@import "src/styles/defaults";
@import "src/styles/mixins";

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;

    &_label {
        text-align: center;
        margin: 90px 30px 25px;
        font-size: $fzLarge;
        text-decoration: underline;
    }

    &_sort {
        text-align: center;
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &_select {
            @include hover;
            @include btn;
            width: 100%;
            min-height: 30px;
            line-height: 30px;
            padding: 0 15px;
        }
    }

    &_board {
        margin: 40px 0;
        width: 90%;
        height: 100%;
        display: flex;
        gap: 20px;
        overflow-x: auto;

        @media (min-width: 950px) {
            justify-content: center;
        }
    }

}

