@import "../../../styles/colors";

.card {
    position: relative;
    background-color: $backGray;
    width: 210px;
    min-height: 120px;
    display: grid;
    place-items: center;
    border-radius: 5px;
    border: 1px solid $textInActive;

    .tag {
        position: absolute;
        top: 10px;
        width: 208px;
        height: 10px;
    }

    .regular {
        background-color: $orangeLight;
    }
    .high {
        background-color: $redLight;
    }
    .low {
        background-color: $greenLight;
    }
}