@import "../../../styles/colors";
@import "../../../styles/font";
@import "../../../styles/mixins";

.btn {
    @include btn;
    min-width: 50px;
    height: 100%;

    @include hover;

    &>p {
        font-size: $fzLarge;
    }
}


