$backBlack: #191919;
$backGray: #2f2f2f;
$backModal: #191919cb;
$textActive: #d3d3d3;
$textInActive: #7e7e7f;
$redLight: #c53947;
$redDark: #6b3131;
$greenLight: #499c64;
$greenDark: #345b3f;
$orangeLight: #c88a21;
$orangeDark: #87612c;

