@import "./colors";
@import "./font";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $fontFamily;
    text-decoration: none;
}

body {
    background-color: $backBlack;
    color: $textActive;
    font-size: $fzRegular;
    height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: $backBlack;

    @media (hover: none) {
        display: none;
    }
}

::-webkit-scrollbar-thumb {
    background: $textInActive;
    border-radius: 5px;
}

::selection {
    background: $backGray;
}
::-moz-selection {
    background: $backGray;
}