@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

$fontFamily: 'Roboto', sans-serif;
$fwThin: 100;
$fwBold: 700;
$fwRegular: 400;
$fzSmall: 12px;
$fzLarge: 20px;
$fzRegular: 15px;