@import "src/styles/colors";
@import "src/styles/font";
@import "src/styles/mixins";

.back {
    @include modalBackground;
    height: 241px;
    width: 100%;

    .label {
        @include modalLabel;
    }

    .features {
        border-top: 1px solid $textInActive;
        padding: 20px 40px;
        background-color: $backGray;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &_option {
            display: flex;
            justify-content: space-between;
            gap: 15px;

            &>p:first-of-type {
                font-weight: $fwThin;
            }
        }
    }

    .btn {
        width: 100%;
        @include btn;
        @include hover;
    }

    @media (min-width: 1024px) {
        width: 500px;
        height: 242px;
        border: 1px solid $textInActive;
    }
}