@import "src/styles/colors";
@import "src/styles/font";
@import "src/styles/mixins";

.back {
    @include modalBackground;
    @include modalHeaderWithBtn;
    height: 223px;
    width: 100%;

    .list {
        list-style: none;
        border-top: 1px solid $textInActive;

        &_option {
            background-color: $backGray;
            line-height: 50px;
            width: 100%;

            @include hover;
        }
    }
    
    @media (min-width: 1024px) {
        height: 224px;
        width: 500px;
        border: 1px solid $textInActive;
    }
}