@import "src/styles/colors";
@import "src/styles/font";
@import "src/styles/mixins";

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
    background-color: $backGray;
    border-bottom: 1px solid $textInActive;
    z-index: 50;
    display: flex;
    align-items: center;

    &_search {
        display: flex;
        align-items: center;
        margin-inline: auto;

        &_input {
            @include btn;
            width: 220px;
            padding-inline: 20px;
        }
    }

    &_back {
        display: grid;
        place-items: center;
        min-width: 50px;
        height: 100%;
        background-color: $backGray;
        color: $textActive;
        font-size: $fzLarge;

        @include hover;
    }

    &_label {
        margin-inline: auto;
        font-size: $fzLarge;
        font-weight: $fwThin;
    }
}