@import "src/styles/colors";
@import "src/styles/font";
@import "src/styles/mixins";

.back {
    @include modalBackground;
    width: 100%;
    height: min(calc(471px + 50vh), 95vh);
    max-height: 900px;

    .form {
        height: calc(100% - 71px);
        display: flex;
        flex-direction: column;
        background-color: $backGray;
        border-top: 1px solid $textInActive;

        &_input {
            @include formInputText;
            font-weight: $fwBold;
        }

        &_fieldsets {
            display: flex;
            flex-direction: column;

            @media (min-width: 1024px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

        &_select {
            border: none;
            border-top: 1px solid $textInActive;
            text-align: right;

            &_legend {
                margin-right: 20px;
                font-size: $fzSmall;
            }

            &_element {
                @include hover;
                @include btn;
                width: 100%;
                min-height: 30px;
                line-height: 30px;
                padding: 0 15px;
            }

            &:last-of-type {
                margin-bottom: 10px;
            }
            
            @media (min-width: 1024px) {
                text-align: left;

                &_legend {
                    margin-left: 20px;
                }
            }
        }

        &_btn {
            @include btn;
            @include hover;
        }
    }
}

.newTask {
    height: min(calc(321px + 50vh), 95vh);
}

.subtask {
    height: min(calc(271px + 50vh), 95vh);

    @media (min-width: 1024px) {
        height: min(calc(171px + 50vh), 95vh);
    }
}
