@import "src/styles/colors";
@import "src/styles/font";

.card {
    position: relative;
    color: $textActive;
    max-width: 350px;

    &_label {
        font-weight: $fwBold;
    }

    &_date {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: $fzSmall;
        font-weight: $fwThin;
    }

    &_tasks {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: $fzSmall;
        font-weight: $fwThin;
    }
}